@{
    var menu = ViewBag.menu as List<WebOrderTbRestaurant.Models.EF.Main_Menu>;
}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="footer-content">
                <!-- Logo Area Start -->
                <div class="footer-logo-area text-center">
                    <a href="index.html" class="yummy-logo">Pool Restaurant</a>
                </div>
                <!-- Menu Area Start -->
                <nav class="navbar navbar-expand-lg">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#yummyfood-footer-nav" aria-controls="yummyfood-footer-nav" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars" aria-hidden="true"></i> Menu</button>
                    <!-- Menu Area Start -->
                    <div class="collapse navbar-collapse justify-content-center" id="yummyfood-footer-nav">
                        <ul class="navbar-nav">
                            @foreach (var item in menu)
                            {
                                <li class="nav-item">
                                    <a class="nav-link" href="@item.Link">@item.Content</a>
                                </li>
                            }
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <!-- Copywrite Text -->
            <div class="copy_right_text text-center">
                <p>Copyright 2022 All rights reserved | Pool Retaurant <i class="fa fa-heart-o" aria-hidden="true"></i> </p>
            </div>
        </div>
    </div>
</div>
